<div class="open-position-container">
    {{position-form 
    class="position-form-component"
    pricePlaceholder="Purchase Price (per share)"
    numSharesPlaceholder="Number of Shares Bought"
    model=model
    }}
</div>
