<div class="watchlist-grid">
    {{#each model.stockData as |stock|}}
        <div class="watchlist-item">
            {{simple-stock-view stock=stock watchlist-button="remove-button"}}
        </div>
    {{/each}}
</div>

