@import "ember-bootstrap/bootstrap";
@import "basics/colors";
@import "page-templates/sign-up-in";
@import "page-templates/index";
@import "components/news-stories.scss";
@import "components/stock-ticker.scss";
@import "page-templates/dashboard/home.scss";
@import "components/side-bar.scss";
@import "components/quick-search.scss";
@import "components/simple-stock-view.scss";
@import "components/stock-list.scss";


#main-nav{
    border-bottom: 2px solid $mainFont;
    background-color: rgba(11, 12, 16, 0.4);
    height: 100px;

     .navbar-brand {
        color: $brightGreen;
        font-size: 2.25em;
        border: 1px solid $mainFont;
        padding: 5px;
        font-family: 'Poiret One';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);   
    }
}
