@import "ember-bootstrap/bootstrap";
@import "basics/colors";
@import "basics/loading.scss";
@import "page-templates/sign-up-in";
@import "page-templates/index";
@import "components/news-stories.scss";
@import "components/stock-ticker.scss";
@import "page-templates/dashboard/home.scss";
@import "page-templates/dashboard/research/research.scss";
@import "page-templates/dashboard/research/company-profile.scss";
@import "components/side-bar.scss";
@import "components/quick-search.scss";
@import "components/simple-stock-view.scss";
@import "components/stock-list.scss";
@import "components/sector-list.scss";
@import "components/display-financials.scss";
@import "components/position-form.scss";
@import "components/add-options-footer.scss";
@import "page-templates/dashboard/research/chart.scss";
@import "page-templates/dashboard/research/key-statistics.scss";
@import "page-templates/dashboard/research/news.scss";
@import "page-templates/dashboard/portfolio/watchlist.scss";
@import "page-templates/dashboard/portfolio/current-positions.scss";


#main-nav{
    border-bottom: 2px solid $mainFont;
    background-color: rgba(11, 12, 16, 0.4);
    height: 100px;

     .navbar-brand {
        color: $brightGreen;
        font-size: 2.25em;
        border: 1px solid $mainFont;
        padding: 5px;
        font-family: 'Poiret One';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);   
    }
}

@import "ember-power-select";
