<div class="key-stats-header">
        <div class="company-name ">
            <h3>{{model.companyName}}</h3>
        </div>
         <div class="divider"></div>
        <div class="company-symbol">
            <h3>{{model.symbol}}</h3>
        </div>
    </div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_520b0"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 675,
  "symbol": "",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Dark",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "save_image": false,
  "container_id": "tradingview_520b0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<div class="profile-footer add-options">
    <div class="peers-item footer-option-L">
        <button class="btn peer-button" {{action "addToWatchlist" model}} >Add to Watchlist</button>
    </div>
     <div class="divider"></div>
    <div class="peers-item footer-option-R" {{action "goToOpenPosition" model}}>
       <button class="btn peer-button" >Open a Position</button>
    </div>
</div>