

<nav class="navbar" id="main-nav">
  <a class="navbar-brand" href="/dashboard">Finance App</a>

{{#if session.isAuthenticated}}
    <button
        class='btn btn-default navbar-btn sign-out-btn'
        {{action 'signOut'}}>
        {{fa-icon 'sign-out'}} Sign Out
    </button>
{{/if}}
</nav>


<div class='container'>
    {{outlet}}
</div>