<div class="top-sign-out">
{{#if session.isAuthenticated}}
    <button
        class='btn btn-default navbar-btn sign-out-btn'
        {{action 'signOut'}}>
        {{fa-icon 'sign-out'}} Sign Out
    </button>
{{/if}}
</div>

{{outlet}}
