
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Finance App</h3>
        </div>

        <ul class="list-unstyled components">
            
            <li class="first-nav-link">
                <a href="#">Home</a>
            </li>
            
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Research</a>
            </li>
            <li>
                <span {{action 'signOut'}}>
                    <a href="#">Sign Out</a>
                </span>
            </li>
        </ul>
    </nav>

</div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "title": "S&P 500",
      "proName": "INDEX:SPX"
    },
    {
      "description": "DOW",
      "proName": "DJ:DJI"
    },
    {
      "description": "AAPL",
      "proName": "NASDAQ:AAPL"
    },
    {
      "description": "AMZN",
      "proName": "NASDAQ:AMZN"
    }
  ],
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
    
        
    


    


<div class="news-stories">
    <h2>Latest News</h2>
    {{#each model as |story|}}
        {{news-stories story=story}}
    {{/each}}
</div>


            

{{outlet}}