<div>
<style>
    body {background-image: url("/assets/images/Sky.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
</style>

<nav class="navbar" id="main-nav">
  <a class="navbar-brand" href="/dashboard">Simplified Portfolio</a>

</nav>

<div class='page-header'>
    <h1 class='tagline'>Your Portfolio, Simplified.</h1>
</div>
<div class='list-group align-items-center'>
    <div class="sibling-fade">
    {{#link-to 'sign-up' class='list-group-item list-group-item-action rounded-0'}}
        Sign Up
    {{/link-to}}
     {{#link-to 'sign-in' class='list-group-item list-group-item-action rounded-0'}}
        Sign In
    {{/link-to}}
    </div>
</div>
</div>