<div class='page-header'>
    <h1>Welcome to the Finance App</h1>
</div>
<div class='list-group align-items-center'>
    <div class="sibling-fade">
    {{#link-to 'sign-up' class='list-group-item list-group-item-action rounded-0'}}
        Sign Up
    {{/link-to}}
     {{#link-to 'sign-in' class='list-group-item list-group-item-action rounded-0'}}
        Sign In
    {{/link-to}}
    </div>
</div>