
.wrapper {
    display: flex;
    width: 100%;
}

.display-date {
    text-align: left;
    padding-left: 30px;
    color: white;  
}

.is-positive {
    color: #009933;
}

.is-negative {
    color: #e60000;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.quick-search-component {
    justify-content: center;
}



.dashboard-home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 285px;
}

.gainers-component, .losers-component {
    flex-basis: 25%;
    padding: 25px;
    background-color: $dashboardBlack;
    border-radius: 0.75rem;
}
@media only screen and (max-width: 1500px) {
    .gainers-component, .losers-component {
        flex-basis: 80%;
        margin-top: 50px;
    }
    .dashboard-home-item {
        flex-basis: 80%;
    }
    .simple-stock-view-component {
        font-size: 1.75em;
    }
    .quick-search-component {
        align-items: center;
    }
}

@media only screen and (max-width: 900px) {
    // .display-date{
    //     font-size: 1.75em;
    // }
    .dashboard-home-container {
        margin-left: 80px;
    }
    .gainers-component, .losers-component {
        flex-basis: 80%;
        margin-top: 50px;
    }
    .simple-stock-view-component, .quick-search-component, 
    .home-left-col-item-sector {
        margin-right: 13px;
    }
    .dashboard-home-item {
        flex-basis: 80%;
    }
    .simple-stock-view-component {
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {

    .dashboard-home-container {
        font-size: .7em;
    }
    
}


