<form class="sign-up-in-form">
    <div class="form-group">
      <label for="stockSymbol">Quick Stock Lookup</label>
      {{input type="text" class="form-control" value=stockSymbol placeholder="Enter Stock Symbol"}}
    </div>
  </form>