 <button class="btn custom-button-remove add-watchlist-button" {{action (route-action "removeFromWatchlist") symbol}}>
    {{fa-icon "times"}}
    {{bs-tooltip title="Remove from watchlist"}}
</button>