<div class="about-container">
    <div class="about-header">
        <div class="about-header-text">
            <h4>sample header text</h4>
        </div>
    </div>
    <div class="about-row">
        <div class="about-item">
            <div class="about-item-photo">
                <img src="/assets/images/nodejs-logo.png" class="about-img">
            </div>
            <div class="about-item-text">
                <div class="item-title">
                   <p><h3>Node.js</h3></p>
                   <p>Node.js, along with the Express framework was used for 
                       api routing and server side scripting. 
                   </p> 
                </div>
            </div>
        </div>
        <div class="about-item">
            <div class="about-item-photo">
                <img src="/assets/images/ember-logo.png" class="about-img">
            </div>
            <div class="about-item-text">
               <p><h3>Ember.js</h3></p>
                   <p>Ember.js was used as the frontend javascript framework.  
                   </p> 
            </div>

        </div>
        <div class="about-item">
            <div class="about-item-photo">
                <img src="/assets/images/firebase-logo.png" class="about-img">
            </div>
            <div class="about-item-text">
                Sample Item Text
            </div>

        </div>
    </div>
    <div class="about-row">
        <div class="about-item">
            <div class="about-item-photo square-img">
                <img src="/assets/images/iex-logo.png" class="about-img">
            </div>
            <div class="about-item-text">
                Sample Item Text
            </div>

        </div>
        <div class="about-item">
            <div class="about-item-photo">
                <img src="/assets/images/investopedia-logo.jpg" class="about-img">
            </div>
            <div class="about-item-text">
                Sample Item Text
            </div>

        </div>
        <div class="about-item">
           <div class="about-item-photo square-img">
                <img src="/assets/images/tradingview-logo.jpg" class="about-img">
            </div>
            <div class="about-item-text">
                Sample Item Text
            </div>

        </div>
    </div>
</div>