
    {{stock-ticker}}

    
  {{quick-search submit='onSubmitForm'}}
    
  {{#if model.symbol}}  
    {{simple-stock-view stock=model}}
  {{else}}
    <div class="simple-stock-view-component">
        <h6>Please Enter a Valid Symbol</h6>
    </div>
  {{/if}}