<h1 class="display-date">{{moment-format current-date 'dddd, MMMM Do YYYY'}}</h1>

<div class="news-stories-container">
    <div class='side-nav-mock'></div>
    <div class="news-stories">
        <h2>Latest News</h2>
        {{#each model.generalStories as |story|}}
            {{news-stories story=story}}
        {{/each}}
    </div>        
    <div class="news-stories">
        <div class="personalized-stories-header">
            <h2>Your News</h2>
        {{#power-select 
            selected = company
            options=model.userModel.followed_stocks 
            onchange=(route-action "getStories") 
            as |name|}}
            {{name}}
        {{/power-select}}
        </div>
        
        {{#each model.personalizedStories as |story|}}
            {{news-stories story=story}}
        {{/each}}
    </div>   
</div>
     