<div class="research-tabs">
  {{#bs-nav type="tabs" as |nav|}}
    <div>
         {{#nav.item}}{{#nav.link-to "dashboard.portfolio.watchlist"}}Watchlist{{/nav.link-to}}{{/nav.item}}
    </div>
    <div>
        {{#nav.item}}{{#nav.link-to "dashboard.portfolio.current-positions"}}Current Positions{{/nav.link-to}}{{/nav.item}}
    </div>
    <div>
        {{#nav.item}}{{#nav.link-to "dashboard.portfolio.open-position"}}Open Position{{/nav.link-to}}{{/nav.item}}
    </div>
    <div>
        {{#nav.item}}{{#nav.link-to "dashboard.portfolio.close-position"}}Close Position{{/nav.link-to}}{{/nav.item}}
    </div>
    <div>
        {{#nav.item}}{{#nav.link-to "dashboard.portfolio.gains-losses"}}Gains & Losses{{/nav.link-to}}{{/nav.item}}
    </div>
  {{/bs-nav}}
  <div class="dashboard-research-content">
      {{outlet}}
  </div>
</div>
