
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<div class="research-tabs">
  {{#bs-nav type="tabs" as |nav|}}
    <div>
         {{#nav.item}}{{#nav.link-to "dashboard.research.profile"}}Company Profile{{/nav.link-to}}{{/nav.item}}
    </div>
    <div>
        {{#nav.item}}{{#nav.link-to "dashboard.research.chart"}}Chart{{/nav.link-to}}{{/nav.item}}
    </div>
    <div>
        {{#nav.item}}{{#nav.link-to "dashboard.research.financials"}}Financials{{/nav.link-to}}{{/nav.item}}
    </div>
    <div>
        {{#nav.item}}{{#nav.link-to "dashboard.research.key-statistics"}}Key Statistics{{/nav.link-to}}{{/nav.item}}
    </div>
    <div>
        {{#nav.item}}{{#nav.link-to "dashboard.research.news"}}News{{/nav.link-to}}{{/nav.item}}
    </div>
  {{/bs-nav}}
  <div class="dashboard-research-content">
      {{outlet}}
  </div>
</div>
