.financial-header {
    color: $darkerGreen;
    background-color: transparent;
}
.row-title {
    color: white;
    font-weight: 600;
    text-align: left !important;
    border-right: 1px solid #dee2e6;
}
.financial-table {
    padding: 4% 3% 0 3%;
}
.totals-table {
    border-top: 5px solid white;
}
.table th, .table td {
    padding: 1em;
    vertical-align: top; 
    text-align: center;
    border-top: 1px solid #dee2e6;
}
tr:nth-child(even) {
    background-color: #202020;
}
@media only screen and (max-width: 650px) { 
    .financial-table {
        font-size: .75em;
    }
}