h5 .btn {
    white-space: normal;
    color: white;
    text-decoration: none;
    text-align: left;
}

h5 .btn-link:hover {
    color: $darkerGreen;
    text-decoration: none;
}

h5 .btn-link:focus {
    color: $brightGreen;
    text-decoration: none;
}

.card-header {
    background-color: #202020;
}

.card-header:hover {
    background-color: #080808;
    h5 .btn {
        color: $darkerGreen;
    }
}

.news-stories-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.news-stories {
    flex-basis: 35%;
    border-radius: .75rem;
    padding: 25px;
    background-color: $dashboardBlack;
    h2 {
        padding-bottom: 5px;
        border-bottom: 2px solid $brightGreen;
    }
}

.card-body {
    color: $darkerGreen;
    background-color: rgba(152,152,152, 0.2);
}

.card {
    background-color: transparent;
}

.read-more-link {
    color: $mainFont;
}

.read-more-link:hover {
    color: white;
}

$ember-power-select-background-color: $grayBlack !default;

