h5 .btn {
    white-space: normal;
    color: white;
    text-decoration: none;
    text-align: left;
}

h5 .btn-link:hover {
    color: $darkerGreen;
    text-decoration: none;
}

h5 .btn-link:focus {
    color: $brightGreen;
    text-decoration: none;
}

.card-header {
    background-color: #202020;
}

.card-header:hover {
    background-color: #080808;
    h5 .btn {
        color: $darkerGreen;
    }
}

.news-stories-container {
    margin-left: 265px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.news-stories {
    flex-basis: 45%;
    border-radius: .75rem;
    padding: 25px;
    background-color: $dashboardBlack;
    h2 {
        padding-bottom: 5px;
        border-bottom: 2px solid $brightGreen;
    }
}

.card-body {
    // color: $darkerGreen;
    background-color: rgb(11, 12, 16);
}

.card {
    background-color: transparent;
}

.read-more-link {
    color: $darkerGreen;
}

.read-more-link:hover {
    color: $brightGreen;
}

@media only screen and (max-width: 900px) {
    .news-stories-container{
        margin-left: 70px;
    }
}
@media only screen and (max-width: 500px) {
    .news-stories-container {
        font-size: .75em;

        h2 {
            font-size: .75em;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .news-stories{
        flex-basis: 100%;
        margin: 25px 15px 25px 10px;
    }
}

$ember-power-select-background-color: $grayBlack !default;

