.quick-search-component {
    display: flex;
    flex-direction: column;
    background-color: $dashboardBlack; 
    padding: 25px;
    border-radius: .75rem .75rem 0px 0px;
   
}

.search-form-container {
    display: flex;
    flex-flow: wrap;
}

.search-form-item {
    flex: 1;
}

.quick-search-input  {
    background-color: rgba(152,152,152, 0.1);
    color: $brightGreen;
    border-radius: .75rem;
    border-color: $darkerGreen;

    &:focus {
            border-color: $brightGreen;
            box-shadow: 0 0 5px $brightGreen; 
            background-color:  rgba(152,152,152, 0.1);
            color: white;
    }
}

.quick-search-input::placeholder {
    color: $mainFont;
}

.component-title {
    border-bottom: 2px solid $brightGreen;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.quick-search-btn {
    margin-left: 10px;
    border-radius: .75rem;
}

@media only screen and (max-width: 600px) {

    .component-title {
        font-size: 1.5em;
    }
    .search-section{
        display: flex;
       flex-wrap: wrap;
        justify-content: center;
       
    }
    .search-item {
        flex-basis: 80%;
        .quick-search-btn {
            margin: 15px 0 0 35%;
        }
    }
}
