.home-left-col-item-sector {
    margin-top: 50px; 
    background-color: $dashboardBlack; 
    padding: 25px;
    border-radius: .75rem;
}
.home-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.list-group-item {
    width: 100%;
    background-color: transparent;
    border: 2px solid $grayBlack;
}
.sector-list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .sector-list-title {
        flex-basis: 50%;
        text-align: left; 
        color: $mainFont;
    }
}

@media only screen and (max-width: 600px) {
    .home-left-col-item-sector {
        padding: 10px;
    }
    .list-group {
        margin-top: 10px; 
    }
}

@media only screen and (max-width: 375px) {
    .list-group {
        font-size: .85em;
    }
}