.home-left-col-item-sector {
    margin-top: 50px; 
    background-color: $dashboardBlack; 
    padding: 25px;
    border-radius: .75rem;
}
.home-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.list-group-item {
    width: 100%;
    background-color: transparent;
    border: 1px solid $darkerGreen;
}

.sector-list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


